*.csproj
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj

Library/Artifacts/
Library/ArtifactDB/
Library/StateCache/
Library/ScriptAssemblies/

*.meta
*.backup
*.dll
ProjectSettings/ProjectVersion.txt

Library/CurrentLayout-default.dwlt
Library/CurrentMaximizeLayout.dwlt
Library/expandedItems
Library/InspectorExpandedItems.asset

